body{
    font-family: 'Quicksand',sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
}
ul,h2,h1,p,h3{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1620px;
    margin: 0 auto;
}
.header{
    background-color: #0c70ac;
    padding: 60px 0px;
    border-bottom: 1px solid #fff;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}
.header-list{
    display: flex;
    gap: 95px;
}
.header-link{
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.header-link:hover{
    color: #f4de1f;
    font-weight: 700;
}
.hero{
    background-color: #0c70ac;
}
.hero-container{
    display: flex;
    align-items: center;
    gap: 447px;
}
.hero-title{
    font-weight: 700;
    font-size: 64px;
    color: white;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.hero-text{
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.5;
}
.destination{
    padding-bottom: 80px;
    padding-top: 80px;
}
.destination-list{
    display: flex;
    gap: 30px;
}
.destination-item{
    text-align: center;
}
.destination-title{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.destination-item-title{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
}
.destination-text{
    font-weight: 500;
    margin-bottom: 30px;
}
.destination-button{
    font-weight: 500;
    color: #7c7c7c;
    border: none;
    background-color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.destination-button:hover{
    border-bottom: 2px solid #7c7c7c;
}
.blog{
    background-color: #e6e6e6;
    padding-bottom: 80px;
    padding-top: 80px;
}
.blog-title{
    text-align: center;
    margin-bottom: 50px;
}
.blog-list{
    display: flex;
    gap: 30px;
}
.blog-wrap{
    padding: 25px 40px 50px 40px;
}
.blog-text{
    font-weight: 600;
    font-size: 20px;
    color: #7c7c7c;
    width: 440px;
}
.blog-item-title{
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    width: 440px;
}
.blog-item{
    background-color: #fff;
    border-radius: 15px;
}
.info{
    background-color: #001c2d;
    padding: 80px 0px;
    border-bottom: 2px solid #7c7c7c;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 500px;
}
.info-main-list{
    display: flex;
    gap: 269px;
}
.quick-list{
    display: flex;
    gap: 239px;
}
.item-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.list-item-link{
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}
.quick-title{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 50px;
}
.gallery-title{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer{
    background-color: #001c2d;
    padding: 63px 0px;
    text-align: center;
}
.footer-link{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}